<template>
  <section class="a4-landscape font-secondary relative bg-white">
    <div class="w-full absolute" style="bottom: 0;">
      <img class="w-full" :src="selectStyle.pathBackgroundImage" alt="Certificado">
    </div>
    <div class="a4-landscape flex flex-col items-center justify-between relative p-4">
      <div class="w-full h-full">
        <div class="absolute mx-auto text-center" :style="selectStyle.nameStyle">
          <p class="font-primary font-bold fs-title-3 uppercase">
            {{ dataCertificate.name }}
          </p>
        </div>
        <div v-for="signs in dataStyle.signs" :key="signs.id" :style="signs.style" class="absolute">
          <img class="img-firma" :src="signs.path" alt="Firma Imagen">
        </div>
        <div>
          <p class="absolute font-bold font-primary text-gray-700" style="bottom: 10px; right: 10px">
            Código: {{ dataCertificate._id }}
          </p>
        </div>
        <div class="absolute" style="bottom: 50px; left: 50px;">
          <div class="bg-white p-4 rounded-2xl">
            <qrcode-vue :value="state.data.token" :size="100" level="H" />
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import { reactive, computed, onMounted } from '@nuxtjs/composition-api'

import QrcodeVue from 'qrcode.vue'

export default {
  components: {
    QrcodeVue
  },
  props: {
    certificate: { type: Object, default: () => {} },
    selectStyle: { type: Object, default: () => {} }
  },
  setup (props) {
    const dataCertificate = computed(() => props.certificate)
    const dataStyle = computed(() => props.selectStyle)

    const state = reactive({
      loading: false,
      data: {
        fullName: '',
        isCourse: false,
        selectStyle: {},
        theme: {
          name: '',
          hours: 0,
          startDate: '',
          endDate: ''
        },
        token: '',
        auspice: {
          exists: true,
          items: [
            { name: 'Universidad Ricardo Palma', img: '' }
          ]
        }
      },
      error: ''
    })

    onMounted(() => {
      const data = state.data
      data.fullName = 'KAREN CANO RAMÍREZ'
      data.isCourse = true
      data.theme.name = 'Manejo terapéutico breve de los Trastornos Psicológicos a partir de la pandemia por COVID-19'
      data.theme.hours = 30
      data.theme.startDate = '2020-06-18'
      data.theme.endDate = '2020-07-1'
      data.token = 'oCpfiWkXtqTtsCDD2ISf20Qf67JamEMnAbLMx0vT'
    })

    return {
      state,
      dataCertificate,
      dataStyle
    }
  }
}
</script>

<style scoped>
.a4-landscape {
  width: 1123px;
  min-height: 794px;
}

.img-logo {
  width: 6rem;
}

.img-firma {
  width: 170px;
}

.wrapper-content {
  padding-left: 3rem;
  padding-right: 3rem;
}
</style>
