<template>
  <div class="w-full h-h-full">
    <client-only>
      <VueHtml2PdfControls :progress="progress" @generate-report="downloadPdf()" />
    </client-only>

    <client-only>
      <vue-html2pdf
        ref="html2Pdf"
        :show-layout="true"
        :enable-download="true"
        :filename="'certificado'"
        :pdf-quality="2"
        :paginate-elements-by-height="3000"
        :manual-pagination="false"
        pdf-format="a4"
        pdf-orientation="landscape"
        pdf-content-width="1400"
        @progress="onProgress($event)"
      >
        <PdfCertificate slot="pdf-content" :select-style="selectStyle" :certificate="certificate" />
      </vue-html2pdf>
    </client-only>
  </div>
</template>

<script>
import VueHtml2PdfControls from '@/components/controls/VueHtml2PdfControls'

import PdfCertificate from '@/components/pdf/PdfCertificate'

export default {
  components: { VueHtml2PdfControls, PdfCertificate },
  layout: 'empty',
  // eslint-disable-next-line require-await
  async asyncData ({ params }) {
    const token = params.token

    return { token }
  },
  data () {
    return {
      progress: 0,
      certificate: {},
      selectStyle: {},
      styles: [
        {
          id: 2,
          nameStyle: 'top: 305px; right: 100px; left: 310px;',
          pathBackgroundImage: '/images/congreso_certificado_total.jpg',
          signs: [
            {
              id: 1,
              style: 'bottom: 130px; right: 360px;',
              owner: 'Luis Oswaldo Perez',
              path: '/images/firma-decano.png'
            }
          ]
        },
        {
          id: 3,
          nameStyle: 'top: 290px; right: 50px; left: 370px;',
          pathBackgroundImage: '/images/congreso_norperuano.jpg',
          signs: [
            {
              id: 1,
              style: 'bottom: 100px; left: 510px;',
              owner: 'Luis Oswaldo Perez',
              path: '/images/firma-decano.png'
            },
            {
              id: 2,
              style: 'bottom: 150px; right: 150px;',
              owner: 'Miguel Savedra',
              path: '/images/sign_miguel_saavedra.png'
            }
          ]
        }
      ]
    }
  },
  head () {
    return {
      title: 'Certificado del C.Ps.P by @k3ntu'
    }
  },
  mounted () {
    this.$axios.$get('http://api.k3ntu.com/api/certificates/' + this.token)
      .then((res) => {
        this.certificate = res.data
        this.selectStyle = this.styles.find(style => style.id === this.certificate.course)
      })
  },
  methods: {
    downloadPdf () {
      this.$refs.html2Pdf.generatePdf()
    },
    onProgress (progress) {
      this.progress = progress
    }
  }
}
</script>
