<template>
  <header class="w-full text-white bg-color-black flex items-center justify-around" style="height: 70px">
    <div class="container mx-auto max-w-screen-lg px-4 flex items-center justify-between font-primary">
      <ul class="flex">
        <li class="mr-2">
          <a href="/">Logo</a>
        </li>
        <li class="mr-2">
          <nuxt-link :to="localePath('/')">
            {{ $t('home') }}
          </nuxt-link>
        </li>
        <li class="mr-2">
          <nuxt-link :to="localePath('/podcast')">
            {{ $t('podcast') }}
          </nuxt-link>
        </li>
        <li class="mr-2">
          <nuxt-link :to="localePath('/blog')">
            {{ $t('blog') }}
          </nuxt-link>
        </li>
        <li class="mr-2">
          <nuxt-link :to="localePath('/portfolio')">
            {{ $t('portfolio') }}
          </nuxt-link>
        </li>
      </ul>
      <select class="mr-2" aria-label="The current language is Spanish but you can change it in this selector.">
        <option selected="selected" aria-label="Continue in Spanish" value="es">
          ES
        </option>
        <option aria-label="Continue in English" value="en">
          EN
        </option>
      </select>
    </div>
  </header>
</template>

<script>
export default {
}
</script>
