<template>
  <div class="w-full">
    <div class="w-full bg-color-black mb-20">
      <section class="container mx-auto max-w-screen-lg px-6 py-16 flex items-center justify-between text-white">
        <div class="w-2/3 h-64 flex items-center">
          <article>
            <h1 class="fs-title font-bold">
              Busquelo en:
            </h1>
            <h2 class="fs-title-3 font-light">
              <a class="text-blue-500" href="http://cpsp.io/certificado" target="_blank">http://cpsp.io/certificado</a>
            </h2>
          </article>
        </div>
      </section>
    </div>

    <div class="container mx-auto max-w-screen-lg px-6 py-6">
      <div class="w-full mb-10">
        <p class="text-sm font-semibold mb-1 text-gray-800">
          Nota: Si su DNI empieza con cero por favor no tomar en consideración. Ejemplo: "01234567" remplácelo por "12345678"
        </p>
        <div class="mb-1 flex">
          <p class="w-full pr-1">
            <input v-model="inputData" class="w-full h-12 p-4 border-2" type="text" placeholder="Ingrese DNI/CE o Email" @keypress.enter="getCertificate">
          </p>
          <button class="inline-block px-5 py-2 bg-green-500 hover:bg-white border-2 border-green-500 hover:border-green-500 text-white font-bold rounded hover:text-yellow-600" @click="getCertificate">
            Buscar
          </button>
        </div>
        <div v-show="isResults" class="w-full mb-10">
          <p class="pl-4 fs-body-2 color-grey">
            Se ha encontrado: {{ certificates.results }} resultados
          </p>
        </div>
      </div>

      <div v-show="!isResults" class="w-full mb-10">
        <p>No se ha encontrado un resultado</p>
      </div>
      <div v-show="isResults" class="w-full">
        <div v-for="c in certificates.data" :key="c._id">
          <div class="w-full py-6 px-4 rounded bg-gray-200 flex justify-between mb-5">
            <div class="flex">
              <p class="fs-body uppercase">
                {{ c.name }}
              </p>
              <p class="text-yellow-600">
                &nbsp;| Certificado del 1er Congreso Virtual
              </p>
            </div>
            <a class="text-blue-500 font-bold" target="_blank" :href="'http://k3ntu.com/certificado/' + c._id">
              Ver
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { ref, reactive } from '@nuxtjs/composition-api'

export default {
  setup (_, context) {
    const isResults = ref(false)
    const certificates = reactive({
      isLoading: false,
      data: [],
      results: 0
    })

    const inputData = ref('')

    const getCertificate = () => {
      context.root.$axios.get('/api/certificates?data=' + inputData.value)
        .then((res) => {
          certificates.data = res.data.data

          if (certificates.data.length > 0) {
            certificates.results = certificates.data.length
            isResults.value = true
          }
        })
    }

    return {
      isResults,
      inputData,
      certificates,
      getCertificate
    }
  }
}
</script>
