//Fonts
$font-primary: 'Lato', -apple-system, BlinkMacSystemFont, sans-serif;
$font-secondary: 'Montserrat', 'Helvetica Neue', sans-serif;

// Colors
$primary-color: #6A58E6;
$primary-color-dark-1: #4828C4;
$primary-color-dark-2: #5A42D4;
$primary-color-light-1: #8D81F6;
$primary-color-light-2: #D8D6F9;

$secondary-color: #FEA82F;
$secondary-color-dark-1: #CF8338;
$secondary-color-dark-2: #E99938;
$secondary-color-light-1: #FFB152;
$secondary-color-light-2: #FBE8CF;

$text-color-primary: #03001A;
$text-color-secondary: #B6B6BB;

$color-accent: #D6B651;
$color-white: #F8F8FA;
$color-black: #14131E;
$color-grey: #828285;
$color-dark-grey: #353537;
$color-light-grey: #F5F5F5;

// Others colors
$yellow: #EFE334;
$white-variant-1: #f5f5f7;

// Sizes of fonts (fs = 'fontsize')
$fs-headline: 70px;
$fs-title: 52px;
$fs-subheader: 32px;
$fs-title-3: 30px;
$fs-headline-sub: 24px;
$fs-subtitle: 20px;
$fs-body: 16px;
$fs-body-2: 14px;
