<template>
  <div class="w-full rounded shadow-lg card-animation-up">
    <img :src="project.image_url" alt="Imagen del projecto">
    <div class="px-4 py-4">
      <p class="text-center fs-headline mb-2 color-secondary font-semibold font-secondary">
        {{ project.name }}
      </p>
      <p class="fs-body-2 text-center mb-6">
        {{ project.description }}
      </p>
      <div class="flex flex-wrap items-center justify-center gap-1">
        <Pills v-for="(v,i) in project.pills.split('|')" :key="i" :name="v" />
      </div>
    </div>
  </div>
</template>

<script>
import Pills from '~/components/elements/Pills'

export default {
  components: { Pills },
  props: {
    project: {
      type: Object,
      required: true
    }
  }
}
</script>
