<template>
  <div class="card-experience flex" @click="$router.push('/blog/' + experience.slug)">
    <div class="w-1/4 flex items-start justify-center border-r-2 border-purple-500">
      <img class="w-16 h-16 mt-4 object-cover rounded-full border-2 border-purple-600" :src="experience.image.thumbnail" :alt="'Imagen del Post ' + experience.title">
    </div>

    <div class="w-3/4 my-3 px-3">
      <h3 class="color-primary fs-headline mb-2">
        {{ experience.title }}
      </h3>
      <p class="font-secondary fs-body-2 mb-2">
        {{ experience.description }}
      </p>
      <p class="color-dark-grey font-secondary font-light fs-body-2">
        {{ experience.publish }}
      </p>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    experience: {
      type: Object,
      required: true
    }
  },
  setup () {
  }
}
</script>
