<template>
  <div class="w-11/12 flex px-4 py-4 card-animation-up">
    <div class="w-32 flex items-center justify-center mr-4">
      <div class="w-20 h-20 rounded-full bg-color-secondary flex items-center justify-center">
        <svg class="w-8 h-8" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
          <path fill="currentColor" d="M424.4 214.7L72.4 6.6C43.8-10.3 0 6.1 0 47.9V464c0 37.5 40.7 60.1 72.4 41.3l352-208c31.4-18.5 31.5-64.1 0-82.6z" />
        </svg>
      </div>
    </div>
    <div>
      <p class="fs-title-3 mb-2 font-secondary font-semibold">
        Como un fracaso me ayudo a seguir adelante
      </p>
      <p class="mb-3 color-primary">
        Motivicional | Superación | Vivencias
      </p>
      <p class="fs-body-2">
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
      </p>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    podcast: {
      type: Object,
      default: () => {}
    }
  }
}
</script>
