<template>
  <button class="w-full flex items-center justify-center bg-color-primary px-6 py-2 rounded shadow button-animation" @click="actionButton">
    <span class="text-white font-semibold fs-subtitle font-secondary">
      {{ name }}
    </span>
  </button>
</template>

<script>
export default {
  props: {
    name: {
      type: String,
      required: true
    },
    actionButton: {
      type: Function,
      required: true
    }
  }
}
</script>

<style scoped>

</style>
