<template>
  <span class="rounded-2xl px-4 py-1 bg-color-primary text-white cursor-pointer" @click="searchByPills">
    {{ name }}
  </span>
</template>

<script>
export default {
  props: {
    name: {
      type: String,
      required: true
    }
  },
  methods: {
    searchByPills () {
      // TODO: Implementar buscador para buscar por pastillas
    }
  }
}
</script>
