/* Cards Animations */

.card-animation-up {
  transition: transform .4s, box-shadow .2s;
  /* Not working prefixing multiple propiertes- "error autoprefixer"
  transition-property: transform, box-shadow;
  transition-duration: .4s, .2s;*/
  will-change: transform, box-shadow;
}

.card-animation-up:hover {
  transform: translateY(-10px);
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

/* Elements */
.button-animation {
  transition: transform .4s, box-shadow .2s, background-color .4s, border .4s;
  will-change: transform, box-shadow, background-color, border;
}

.button-animation:hover {
  border: 2px solid mediumpurple;
  background-color: white;
  transform: translateY(-3px);
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.button-animation > span {
  transition: color .4s;
  will-change: color;
}

.button-animation:hover > span {
  color: black;
}

.icons-anim {
  transition: transform .4s;
  will-change: transform;
}

.icons-anim:hover {
  transform: scale(1.5) rotate(-45grad);
}
