@import "../scss/variables";

/* Clean styles */
textarea:focus, input:focus{
  outline: none;
}

/* Loaders */
.page-enter-active, .page-leave-active {
  opacity: 1;
  transition: .5s;
}

.page-enter, .page-leave-active {
  opacity: 0;
  transform: translateX(100vw);
}

/* Fonts */
.font-primary {
  font-family: $font-primary;
}

.font-secondary {
  font-family: $font-secondary;
}

/* Colors */
.color-primary {
  color: $primary-color;
}

.color-secondary {
  color: $secondary-color;
}

.color-black {
  color: $color-black
}

.bg-color-black {
  background-color: $color-black;
}

.color-white {
  color: $color-white;
}

.color-grey {
  color: $color-grey;
}

.color-dark-grey {
  color: $color-dark-grey;
}

.color-light-grey {
  color: $color-light-grey;
}

.bg-color-primary {
  background-color: $primary-color;
}

.bg-color-grey {
  background-color: $color-grey;
}

.bg-color-light-grey {
  background-color: $color-light-grey;
}

.bg-color-secondary {
  background-color: $secondary-color;
}

/* Fonts Sizes */
.fs-title-headline  {
  font-size: $fs-headline;
  letter-spacing: -0.3px;
}

.fs-title  {
  font-size: $fs-title;
  letter-spacing: -0.3px;
}

.fs-subheader  {
  font-size: $fs-subheader;
  letter-spacing: 0.5px;
}

.fs-title-3 {
  font-size: $fs-title-3;
  letter-spacing: 0.18px;
}

.fs-headline {
  font-size: $fs-headline-sub;
}

.fs-subtitle {
  font-size: $fs-subtitle;
  letter-spacing: 1.2px;
}

.fs-body {
  font-size: $fs-body;
}

.fs-body-2 {
  font-size: $fs-body-2;
}

/* Cards */
.card-experience {
  width: 540px;
}

/* Basics elements */
.text-input-styles {
  border-bottom-width: 1px;
  background-color: transparent;
  border-color: $color-grey;
}

.text-input-styles::placeholder {
  color: $color-dark-grey;
  transition-property: color;
  transition-duration: 400ms;
}
.text-input-styles:hover::placeholder {
  color: $color-grey;
}

.text-input-styles:focus::placeholder {
  color: $color-grey;
}

.text-input-styles:focus {
  border-bottom-color: $primary-color-dark-1;
}

