@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.wl-content-box {
  @apply border-2 h-64 rounded shadow;
  transition: .8s;
  will-change: border-color;
}

.wl-content-box:hover {
  @apply border-blue-700;
}

/* Buttons */
.button {
  @apply w-full shadow text-white font-bold py-2 px-4 rounded;
}

.is-primary {
  @apply bg-blue-500;
}

.button:hover {
  @apply bg-blue-400;
}

.button:focus {
  @apply ring outline-none;
}

.inactive {
  @apply bg-gray-500 cursor-not-allowed;
}

.inactive:hover {
  @apply bg-gray-500;
}
