<template>
  <div class="w-full">
    <div class="">
      <section class="max-w-screen-lg px-8">
        <div class="flex justify-between">
          <p>Hola esto es un Blog</p>
        </div>
      </section>
    </div>
  </div>
</template>

<script>
export default {
}
</script>
