<template>
  <div class="w-full">
    <input
      :value="value"
      type="text"
      :placeholder="placeholder"
      class="py-2 w-full fs-body font-medium text-input-styles"
      @input="updateValue($event.target.value)"
    >
    <span v-show="error.length > 0" class="text-red-600">{{ error }}</span>
  </div>
</template>

<script>
export default {
  props: {
    name: {
      type: String,
      required: true
    },
    placeholder: {
      type: String,
      default: ''
    },
    error: {
      type: String,
      default: ''
    },
    value: {
      type: String,
      required: true
    }
  },
  methods: {
    updateValue (value) {
      this.$emit('input', value)
    }
  }
}
</script>
